In [3]:
import pandas as pd
import io
import requests

url = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'

In [4]:
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [5]:
print (c)

       iso_code continent     location        date  total_cases  new_cases  \
0           AFG      Asia  Afghanistan  2020-02-24          1.0        1.0
1           AFG      Asia  Afghanistan  2020-02-25          1.0        0.0
2           AFG      Asia  Afghanistan  2020-02-26          1.0        0.0
3           AFG      Asia  Afghanistan  2020-02-27          1.0        0.0
4           AFG      Asia  Afghanistan  2020-02-28          1.0        0.0
...         ...       ...          ...         ...          ...        ...
111593      ZWE    Africa     Zimbabwe  2021-08-19     121902.0      404.0
111594      ZWE    Africa     Zimbabwe  2021-08-20     121902.0        0.0
111595      ZWE    Africa     Zimbabwe  2021-08-21     122487.0      585.0
111596      ZWE    Africa     Zimbabwe  2021-08-22     122652.0      165.0
111597      ZWE    Africa     Zimbabwe  2021-08-23     123001.0      349.0

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
0                      NaN           NaN         NaN                  NaN
1                      NaN           NaN         NaN                  NaN
2                      NaN           NaN         NaN                  NaN
3                      NaN           NaN         NaN                  NaN
4                      NaN           NaN         NaN                  NaN
...                    ...           ...         ...                  ...
111593             449.714        4198.0        17.0               21.571
111594             342.000        4198.0         0.0               17.857
111595             376.286        4236.0        38.0               20.857
111596             366.286        4249.0        13.0               20.000
111597             416.143        4293.0        44.0               26.286

        ...  extreme_poverty  cardiovasc_death_rate  diabetes_prevalence  \
0       ...              NaN                597.029                 9.59
1       ...              NaN                597.029                 9.59
2       ...              NaN                597.029                 9.59
3       ...              NaN                597.029                 9.59
4       ...              NaN                597.029                 9.59
...     ...              ...                    ...                  ...
111593  ...             21.4                307.846                 1.82
111594  ...             21.4                307.846                 1.82
111595  ...             21.4                307.846                 1.82
111596  ...             21.4                307.846                 1.82
111597  ...             21.4                307.846                 1.82

        female_smokers  male_smokers  handwashing_facilities  \
0                  NaN           NaN                  37.746
1                  NaN           NaN                  37.746
2                  NaN           NaN                  37.746
3                  NaN           NaN                  37.746
4                  NaN           NaN                  37.746
...                ...           ...                     ...
111593             1.6          30.7                  36.791
111594             1.6          30.7                  36.791
111595             1.6          30.7                  36.791
111596             1.6          30.7                  36.791
111597             1.6          30.7                  36.791

        hospital_beds_per_thousand  life_expectancy  human_development_index  \
0                              0.5            64.83                    0.511
1                              0.5            64.83                    0.511
2                              0.5            64.83                    0.511
3                              0.5            64.83                    0.511
4                              0.5            64.83                    0.511
...                            ...              ...                      ...
111593                         1.7            61.49                    0.571
111594                         1.7            61.49                    0.571
111595                         1.7            61.49                    0.571
111596                         1.7            61.49                    0.571
111597                         1.7            61.49                    0.571

        excess_mortality
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
111593               NaN
111594               NaN
111595               NaN
111596               NaN
111597               NaN

[111598 rows x 62 columns]